img {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
body {
background-color: #F1DAC4;
  }
header{
    background-color: #437F97;
    text-emphasis-color: #011638 ;
}
nav {
    text-align: center;
    list-style-type: none;
    padding-left: 10px;
}
.home-title {
    font-size: 40px;
    color:#011638;
    text-align: center;
}
.logo {
    width: 100px;
    height: 100px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer {
    background-color: #011638;
    padding: 25px 50px;
    padding-top: 15px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer h4 {
    color: #F1DAC4;
}
main h3 {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  nav a:hover {
    color: #011638;
    background-color: var(--nav-hover-background-color);
  }
  .snow_audi {
    display: block;
    border: 10px solid #EA638C;
    height: 600px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
.social {
   
}
.fb {
    height: 50px;
    width: 50px;
}
.twitter {
    height: 50px;
    width: 50px;
}
p {
    padding-left: 100px;
    padding-right: 100px;
}
.prius {
    display: block;
    border: 10px solid #EA638C;
    height: 600px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.google_meme {
    display: block;
    border: 10px solid #EA638C;
    height: 300px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.mya_mazda {
    display: block;
    border: 10px solid #EA638C;
    height: 450px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
h3 a {
    color:#EA638C;
}
h1 a {
    color:#011638;
    text-align: center;
}