img {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
body {
background-color: #F1DAC4;
  }
header{
    background-color: #437F97;
    text-emphasis-color: #011638 ;
}
nav {
    text-align: center;
    list-style-type: none;
    padding-left: 10px;
}
.home-title {
    font-size: 40px;
    color:#011638;
    text-align: center;
}
.logo {
    width: 100px;
    height: 100px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer {
    background-color: #011638;

}